{% extends "linknot_layout.html" %}

{% block content %}
<div class="flex-grid">

  <div class="row">
    <div class="cell colspan12">{% include "linknot_topbar.html" %}</div>
  </div>
    

  <div class="row">
                  <div class="cell colspan4"> </div>
                  <div class="cell colspan4"><div id="top_bar">{% include "linknot_create_post.html" %}</div> </div>
                  <div class="cell colspan4"> </div>
  </div>
    <div class="row">
                  <div class="cell colspan4"> </div>
                  <div class="cell colspan4"><div id="top_bar">{% include "linknot_feed.html" %}</div> </div>
                  <div class="cell colspan4"> </div>
  </div>
  <div class="row">
    <div class="cell colspan12">{% include "linknot_footer.html" %}</div>
  </div>

</div>

{% endblock %}