<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ title }} -Linknot</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '\linknot_contents\css\metro.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '\linknot_contents\css\metro-icons.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '\linknot_contents\css\metro-responsive.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '\linknot_contents\css\metro-schemes.css' %}" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
    <script>
        function sendJSONXMLHTTPRequest(url, objects, callback, method) {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        //XXX: parse some JSON from the request!
                        //XXX: Pass the data to the callback!
                        //thanks Professor Hindle, this was taken from your slides.
                        if (xhr.status === 200) {
                            var Data = JSON.parse(xhr.responseText);
                            callback(Data);
                        } else {
                            alert("There was an error " + xhr.status);
                        }

                    }
                }
            };
            //XXX: POST to a URL
            //XXX: set the mimetype and the accept headers!
            // Remember to use application/json !
            //https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/setRequestHeader
            xhr.open(method, url, true);
            xhr.setRequestHeader('Accept', 'application/json');
            xhr.send(objects);
        }
    </script>
    <script>
        function update() {
            sendJSONXMLHTTPRequest("http://127.0.0.1:8000/posts", null, changepost, "GET");

        }

        function changepost(jsonresponse) {
            //So we have a shitton of json to handle
            //http://stackoverflow.com/questions/4935632/parse-json-in-javascript
            alert(jsonresponse)
            

        }

    </script>

   
</head>
<body>
 {% block content %}
 {% endblock %}

</body>



</html>